### Vagrant ###
# General
.vagrant/
# Log files (if you are creating logs in debug mode, uncomment this)
 *.log
### Vagrant Patch ###
*.box

### Ansible ###
*.retry
ansible_files/

### Backup files###
*.bk